<a href="https://colab.research.google.com/github/manvendra7/Class_Object/blob/main/Python_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Object Oriented Programming

We are learning about pyhton objects nd classes

In [1]:
a = 10
print(type(a))

<class 'int'>

In [2]:
b = 20
print(type(b))

<class 'int'>

In [3]:
c = [10,11,12,13,14]
print(type(c))

<class 'list'>

In [4]:
d = [10,12,13,14]
print(type(d))

<class 'list'>

In [5]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [6]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [10]:
class Employee:  #creating class
  pass

In [14]:
emp1 = Employee()
print(emp1)

<__main__.Employee object at 0x7f30bc267590>

In [15]:
# dct = {'Fname' : ['Aman','Joe','Rahul'],
#  'Lname' : ['Kumar','Smith','Gupta'],
#  'Age' : [32,34],
#  'Sal' : [20,25,21],
#  'Position' : ['DA','DA','DA']}

In [18]:
# Arun, S, 26, 20, DA
# dct['Fname'].append('Arun')

In [19]:
# dct

{'Age': [32, 34],
 'Fname': ['Aman', 'Joe', 'Rahul', 'Arun'],
 'Lname': ['Kumar', 'Smith', 'Gupta'],
 'Position': ['DA', 'DA', 'DA'],
 'Sal': [20, 25, 21]}

In [ ]:
#functions --- def 
#functions inside a class is known as method

In [43]:
class Employee:
  
  def __init__(self,Fname,Lname,Age,sal):  #constructor method, init method
    self.Fname = Fname
    self.Lname = Lname
    self.Age = Age
    self.sal = sal

emp1 = Employee('Arun','Kumar',26,25000)
emp2 = Employee('Joe','Smith',32,45000)

print(emp1.Fname)

Arun

In [27]:
# emp1 = Employee()
# # print(emp1)

# emp1.Fname = 'Arun'
# emp1.Lname = 'Kumar'
# emp1.Age = 29
# emp1.sal = 35

# emp2 = Employee()
# emp2.Fname = 'Aman'
# emp2.Lname = 'Kumar'
# emp2.Age = 24
# emp2.sal = 30

In [36]:
emp1 = Employee('Arun','Kumar',25,25000)
# print(emp1.Fname)
# print(emp1.Lname)

emp2 = Employee('Joe','Smith',32,45000)
print(emp2.Fname)

Joe

In [28]:
# print(emp1.Fname)
# print(emp1.Lname)
# print(emp1.Age)

Arun
Kumar
29

In [29]:
print(emp2.Fname)
print(emp2.Lname)
print(emp2.Age)

Aman
Kumar
24